**/*.rs.bk
.#*
*.a
.gdb_history
build/
/modm/

# modm generated
project.xml.log

# Cmake outputs
generated/
test/PurpleDropTest
test/Makefile
CMakeFiles
CMakeCache.txt
src/version.cpp
__pycache__

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
.mypy_cache

# debugging trace
itm.txt



