**/*.rs.bk
.#*
*.a
.gdb_history
build
modm
sam/templated 

# modm generated
project.xml.log

# Cmake outputs
generated/
test/PurpleDropTest
test/Makefile
CMakeFiles
CMakeCache.txt
lib/src/version.cpp
__pycache__
*.dfu

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
.mypy_cache
*.swp

# debugging trace
itm.txt



