**/*.rs.bk
.#*
*.a
.gdb_history
build/
modm/

# Cmake outputs
test/PurpleDropTest
test/Makefile
CMakeFiles
CMakeCache.txt

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json